<%=render :partial => "photos/form"%>
<br>
<div class="panel panel-default"> 
	<div class="panel-heading"> 
		<h3 class="panel-title">Recent Photos</h3> 
	</div> 
	<div class="panel-body"> 
		<%=render :partial => "photos/list"%> 
	</div> 
</div>


