<div class="row">
	<div class="col-lg-12">
		<%= form_tag({:controller => 'photos'}, :method => :get, :class => 'form-search', :id => 'search_form') do %>
		<div class="input-group">
			<%= text_field_tag "keyword", params[:keyword], :class=>"form-control", :placeholder=>"Search photos", :autofocus => "autofocus"%>
			<span class="input-group-btn">
				<%= submit_tag "Search",  :class => "btn btn-success" %>
			</span>
		</div>
		<%end%>
	</div>
</div>